$block-w: 80px;
$block-h: 80px;
$column-numbers: 10;
$raw-numbers: 4;

.main {
    width: calc(#{$block-w} * #{$column-numbers});
    height: calc(#{$block-h} * #{$raw-numbers});
    background:
    repeating-linear-gradient(to right,
        transparent 0 calc(#{$block-w} - 2px),#fff calc(#{$block-w} - 2px) $block-w),   
    repeating-linear-gradient(to bottom,
        transparent 0 calc(#{$block-h} - 2px),#fff calc(#{$block-h} - 2px) $block-h) red;
}

