.cont {
    min-width: 500px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

.mydiv {
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    margin: 20px;
    position: relative;
}

.right {
    float: right; 
}


.center {
    margin: -120px auto;

}

