.locomotive {
  width: 140px;
  height: 100px;
  margin: 100px auto 0;
  background: center no-repeat url(img/locomotive.png);
  background-size: 100%;
  position: relative;
  transition: left linear;
  transition-duration: 10s;
  left: 0;
}
.btn_wrapp {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 50px auto;
}
.btn {
  width: 70px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}
.btn:nth-child(2) {
  font-size: 18px;
  width: 100px;
}
.light {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  left: 0;
  top: 40px;
  position: absolute;
  background-color: yellow;
  display: none;
}
.light_on {
  display: block;
}
.btn:active {
  transform: translateY(5px);
}
.blue {
  background-color: blue;
}
.pause {
  animation-play-state: paused;
}
.reverse {
  transform: scale(-1,1);
}