@font-face {
    font-family: 'GoogleSans-bold';
    src: url(../fonts/GoogleSans-Bold.woff2);
}

@font-face {
    font-family: 'GoogleSans-regular';
    src: url(../fonts/GoogleSans-Regular.woff2);
}

@font-face {
    font-family: 'GoogleSans-medium';
    src: url(../fonts/GoogleSans-Medium.woff2);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

html {
    min-width: 360px;
}

.header {
    height: 36px;
    background: #F2F2F2;
}

.container {
    position: relative;
}

.header__wrap {
    height: 36px;
    padding: 0 25px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__item {
    font-family: 'GoogleSans-bold';
    font-size: 14px;
    line-height: 16px;
    color: #4F4F4F;
    margin-left: 37px;
}

.menu {
    height: 83px;
    border-bottom: 1px solid #E8E8EE;
}

.menu__wrap {
    height: 83px;
    padding: 0 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu__options {
    width: 26px;
    height: 19px;
    background-image: url(../img/menu-options.png);
}

.menu__search-wrap {
    display: flex;
}

.menu__search {
    display: flex;
    width: 515px;
    height: 44px;
    margin-right: 19px;
    background: #FCFCFC;
    border: 1px solid #E8E8EE;
    border-radius: 3px;
}

.menu__search::before {
    content: url(../img/search.svg);
    position: relative;
    left: 14px;
    top: 12px;
}

.menu__search-field {
    border: none;
    width: 390px;
    font-size: 14px;
    line-height: 44px;
    color: #828282;
    font-family: 'GoogleSans-regular';
    padding: 13px 0 13px 35px;
    outline: none;
}

.menu__search-list {
    font-size: 14px;
    line-height: 44px;
    color: #828282;
    font-family: 'GoogleSans-regular';
    position: relative;
}

.menu__search-list:before {
    content: '';
    position: absolute;
    display: block;
    height: 30px;
    width: 0;
    border: 1px solid rgba(189, 189, 189, 0.5);
    top: 5px;
    left: -20px;
}

.menu__search-list::after {
    content: url(../img/Polygon3.svg);
    position: absolute;
    display: block;
    right: -15px;
    top: 0;
}

.menu__btn {
    width: 218px;
    height: 44px;
    background: linear-gradient(245.23deg, #32228A -43.18%, #745ACD 100%), #C4C4C4;
    border-radius: 3px;
    font-family: 'GoogleSans-bold';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 13px 0 0 26px;
    box-sizing: border-box;
}

.slides__wrap {
    border-bottom: 1px solid #E8E8EE;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px 25px;
    justify-content: space-evenly;
}

.slides__item {
    width: 357.88px;
    height: 169px;
    margin: 25px 10px 0;
    border-radius: 5px;
    color: #FFFFFF;
}

.slides__item-text {
    font-size: 20px;
    line-height: 23px;
    font-family: 'GoogleSans-bold';
    padding: 103px 0 0 17px;
}

.slides__item-text span {
    font-size: 14px;
    line-height: 16px;
    font-family: 'GoogleSans-regular';
    display: block;
    padding-top: 5px;
}

.slides__item:nth-child(1), .slides__item:nth-child(3)  {
    background: url(../img/phone.png), linear-gradient(90deg, #FF9191 0%, #FF7878 100.03%);
    background-position: right;
    background-repeat: no-repeat;
}

.slides__item:nth-child(2) {
    background: url(../img/car.png), linear-gradient(90deg, #56CCF2 0%, #FFD659 98.78%);
    background-position: right;
    background-repeat: no-repeat;
}

.main__wrap {
    color: #333333;
}

.main__top {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.main__top-title {
    font-family: 'GoogleSans-bold';
    font-size: 24px;
    line-height: 28px;  
}

.main__top-select {
    display: flex;
}

.main__top-icons {
    font-size: 24px;
    line-height: 28px;  
    font-weight: bold;
    margin-left: 70px;
}

.select__wrap {
    display: none;
    justify-items: center;
    position: relative;
}

.main__top-text {
    font-size: 18px;
    line-height: 27px;
    font-family: 'GoogleSans-medium';
    margin: 0 14px 0 40px;
}

.main__top-text span {
    color: #979FAD;
    margin-left: 14px;
}

.main__top-text span::after {
    content: url(../img/Polygon.svg);
    position: relative;
    right: -10px;
    top: -3px;
}

.main__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main__item {
    width: 253px;
    height: 400px;
    margin: 0 15px 31px;
    background: url(../img/image.svg), #FFFFFF;
    background-repeat: no-repeat;
    border: 1px solid #E8E8EE;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
}

.main__item-text {
    margin: 274px 0 0 16px;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    font-family: 'GoogleSans-bold';
    position: relative;
}

.main__item-text:after {
    content: url(../img/Polygon2.svg);
    position: absolute;
    right: 13px;
    bottom: 31px;
}

.main__item-text span {
    font-size: 14px;
    line-height: 16px;
    font-family: 'GoogleSans-regular';
}

.main__item-btm {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    border-top: 1px solid #E8E8EE;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    display: flex;
    justify-content: space-between;
    padding: 0 14px 0 30px;
    box-sizing: border-box;
    font-family: 'GoogleSans-regular';
    align-items: center;
}

.main__item-btm-position:before {
    content: url(../img/placeholder.svg);
    position: relative;
    left: -12px;
}

.footer__wrap {
    margin: 13px auto 139px;
    width: max-content;
    position: relative;
}

.footer__btn {
    color: #745ACD;
    border-radius: 3px;
    width: 182px;
    height: 44px;
    text-align: center;
    border: 1.5px solid #745ACD;
    font-size: 14px;
    line-height: 44px;
    font-family: 'GoogleSans-medium';
}

@media (max-width:865px) {
    .menu__search {
        display: none;
    }
}

@media (min-width:866px) {
    .main__top-icons {
        display: none;
    }
    .select__wrap {
        display: flex;
    }
}

@media (min-width:803px) and (max-width:1181px) {
    .slides__item:nth-child(3) {
        display: none;
    }
}

@media (min-width:1181px) {
    .container {
        margin: 0 auto;
        width: 1181px;
    }
}