@font-face {
    font-family: 'fontello';
    src: url(../fonts/fontello.woff2);
}
@font-face {
    font-family: 'iconic';
    src: url(../fonts/fontello2.woff);
}

.timer {
    width: 160px;
	height: 45px;
    font-weight: bold;
	font-size: 45px;
    position: relative;
    display:block;
    transition: opacity 1s linear;
}

.main {
    width: 600px;
    height: 200px;
    margin: 100px auto 0;
}

.stopwatch {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    border: 1px solid #000;
    width: 215px;
    height: 50px;
    padding-left: 10px;
}

.spin {
    height: 40px;
    font-size: 35px;
    line-height: 40px;
    animation: spin 3s infinite linear;
    animation-play-state: paused;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }  
}

.btm-line {
    display: flex;
    justify-content: space-between;
    width: 227px;
}

.time {
    height: 25px;
    width: 105px;
    line-height: 25px;
    font-size: 25px;
    font-family: 'fontello';
    border: 1px solid #000;
}

.btn {
    height: 27px;
    width: 100px;
    background-color: white;
    border: 1px solid #000;
    cursor: pointer;
}

.time-out {
    opacity: 0;
}