@import "../../node_modules/normalize.css/normalize";

$maincolor1: #F2C24D;
$maincolor2: white;
$maincolor3: black;
$maincolor4: #F2A04A;
$mainlinear: linear-gradient(to right, #29317E, #1C2251);

@font-face {
    font-family: 'ProximaNova-semibold';
    src: url(../fonts/ProximaNova-Semibold.woff2);
}

@font-face {
    font-family: 'ProximaNova-black';
    src: url(../fonts/ProximaNova-Black.woff2);
}

@font-face {
    font-family: 'ProximaNova-bold';
    src: url(../fonts/ProximaNova-Bold.woff2);
}

@font-face {
    font-family: 'ProximaNova-extrabold';
    src: url(../fonts/ProximaNova-Extrabld.woff2);
}

@font-face {
    font-family: 'ProximaNova-regular';
    src: url(../fonts/ProximaNova-Regular.woff2);
}

@mixin point() {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $maincolor2;
    position: absolute;
}

@mixin line() {
    position: absolute;
    border: 1px solid $maincolor2;
}

@mixin btn() {
    width: 280px;
    height: 58px;
    padding: 17px 0 0 71px;
    border: 2px solid $maincolor4;
    border-radius: 100px;
    color: $maincolor2;
    line-height: 22px;
    font-size: 18px;
    letter-spacing: 0.02em;
    font-family: 'ProximaNova-semibold';
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25), inset 0px 4px 4px rgba(0,0,0,0.25);
    cursor: pointer;
    user-select: none;
    &:after {
        content: '';
        position: absolute;
        border: 1px solid $maincolor2;
        width: 23px;
        top: 26px;
        left: 30px;
    }
    &:active {
        transform: translateY(2px);
    }
}

@mixin price() {
    font-family: 'ProximaNova-bold';
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.02em;
    position: absolute;
    sup {
        color: $maincolor4; 
    }
    span {
        font-size: 14px;
        line-height: 16px;
        font-family: 'ProximaNova-regular';
        display: block;
        top: -4px;
        position: relative;
    }
}

@mixin title() {
    font-family: 'ProximaNova-black';
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-left: 58px;
    &:after {
        content: '';
        display: block;
        position: relative;
        width: 41px;
        height: 7px;
        background-color: $maincolor4;
        top: -26px;
        left: -58px;
    }
}

@mixin scheme-text() {
    color: $maincolor3;
    font-family: 'ProximaNova-bold';
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    z-index: 4;
}

@mixin list() {
    font-family: 'ProximaNova-semibold';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 42px;
        border: 1px solid $maincolor4;
        left: -58px;
        top: 8px;
        background-color: $maincolor4;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        border: 2px solid $maincolor4;
        border-radius: 50%;
        top: 3px;
        left: -69px;
    }
}

@mixin payment-item {
    margin-top: 17px;
    font-family: 'ProximaNova-extrabold';
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.02em;
    height: 64px;
    span {
        font-family: 'ProximaNova-regular';
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.02em;
    }
}

body {
    background-color: $maincolor2;
}

.container {
    width: 1110px;
    margin: 0 auto;
    position: relative;
}

.header {
    width: 1920px;
    height: 1046px;
    background: linear-gradient(to right, #29317E, #1C2251);
    margin: 0 auto;
    position: relative;

    &_line {
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.05);
    
        &:nth-child(1) {
            width: 1920px;
            top: 92px;
        }
        &:nth-child(2) {
            height: 874px;
            left: 110px;
            top: 92px;
        }
        &:nth-child(3) {
            left: calc(110px + 340px);
            height: 107px;
            top: 92px;
        }
        &:nth-child(4) {
            left: calc(110px + 340px);
            height: 245px;
            top: 721px;
        }
        &:nth-child(5) {
            left: calc(110px + 680px);
            height: 107px;
            top: 92px;
        }
        &:nth-child(6) {
            left: calc(110px + 680px);
            height: 600px;
            top: 366px;
        }
        &:nth-child(7) {
            height: 874px;
            left: calc(110px + 1020px);
            top: 92px;
        }
        &:nth-child(8) {
            height: 874px;
            left: calc(110px + 1360px);
            top: 92px;
        }
        &:nth-child(9) {
            height: 874px;
            left: calc(110px + 1700px);
            top: 92px;
        }
    }

    &_top {
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $maincolor2;

        &-logo {
            font-size: 36px;
            letter-spacing: 0.02em;
            font-family: 'ProximaNova-black';
        }

        &-phone {
            display: flex;
            align-items: center;

            &-img {
                margin:7px 13px 0 0;
            }

            &-number {
                font-family: 'ProximaNova-semibold';
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 0.02em;
            }
        }
    }

    &_main {
        margin-top: 131px;
        width: 528px;

        &-text {
            font-family: 'ProximaNova-black';
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.02em;
            color: $maincolor2;
            &-ending {
                color: $maincolor1;
            }
        }

        &-list {
            margin-top: 62px;
            &-item {
                margin: 0 0 29px 70px;
                color: $maincolor2;
                @include list();
            }
        }

        &-btn {
            margin-top: 61px;
            @include btn();
        }

        &-imgback {
            width: 148.28px;
            height: 796.01px;
            transform: rotate(69.46deg);
            background: linear-gradient(180deg, #F2A04A 0%, #F2C24D 100%), #C4C4C4;
            position: absolute;
            top: 83px;
            left: 777px;
            border-radius: 80px 0;
        }

        &-img{
            width: 986px;
            height: 973px;
            background-image: url(../img/antminer.png);
            position: absolute;
            left: 333px;
            top: 23px;

            &-toptext {
                @include price();
                color: $maincolor2;
                top: 159px;
                left: 401px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            &-topline1 {
                @include line();                
                top: 242px;
                left: 404px;
                height: 23px;
                &:before {
                    @include point();
                    top: -4px;
                    left: -3px;
                }
            }
            &-topline2 {
                @include line();                
                top: 292px;
                left: 232px;
                width: 176px;
                transform: rotate(-17.95deg);
                background-color: $maincolor2;
            }
            &-topline3 { 
                @include line();               
                top: 320px;
                left: 235px;
                height: 50px;
                &:after {
                    @include point();
                    bottom: -4px;
                    left: -3px;
                }
            }
            &-btmleftline1 {
                @include line();                
                top: 693px;
                left: 113px;
                height: 46px;
                &::before {
                    @include point();
                    bottom: -4px;
                    left: -3px;
                }
            }
            &-btmleftline2 {
                @include line();                
                top: 693px;
                left: 113px;
                width: 148px;
                &::before {
                    @include point();
                    bottom: -3px;
                    right: -3px;
                }
            }
            &-btmrgtline { 
                @include line();            
                top: 587px;
                left: 749px;
                height: 98px;
                &::before {
                    @include point();
                    top: -3px;
                    right: -3px;
                }
                &::after {
                    @include point();
                    bottom: -3px;
                    right: -3px;
                }
            }
            &-btmrgttext {
                position: absolute;
                top: 698px;
                left: 586px;
                width: 175px;
                height: 52px;
                font-family: 'ProximaNova-black';
                font-size: 17px;
                line-height: 21px;
                text-align: right;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: $maincolor1;
                span {
                    color: $maincolor2;
                    font-size: 23px;
                    line-height: 31px;
                }
            }
            &-mouse {
                position: absolute;
                top: 846px;
                left: 208px;
            }
        }
    }
}

.about {
    position: relative;
    width: 1920px;
    height: 778px;
    margin: 0 auto;
    background-color: $maincolor2;
    color: $maincolor3;
    &_title {
        @include title();
        padding-top: 35px;
    }
    &_info {
        margin-top: 37px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 625px;
        height: 455px;  
        &-text {
            font-family: 'ProximaNova-regular';
            font-size: 18px;
            line-height: 30px;
        }
    }
    &_btn {
        @include btn();
        margin-top: 51px;
        background: linear-gradient($maincolor4, $maincolor1);
        box-shadow: none;
    }
    &_img {
        position: absolute;
        width: 553px;
        height: 367px;
        left: 615px;
        top: 68px;
        background-image: url(../img/antminer2.png);
    }
    &_imgprice1 {
        @include price();
        top: 435px;
        left: 725px;
        color: $maincolor3;
        width: 140px;
        &:after {
            position: absolute;
            content: '';
            height: 15px;
            right: -50px;
            top: 17px;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
    }
    &_imgprice2 {
        @include price();
        top: 435px;
        left: 971px;
        color: $maincolor3;
        width: 140px;
    }
}

.scheme {
    width: 1920px;
    height: 757px;
    margin: 0 auto;
    background: #F4F8FA;
    z-index: -3;
    &_circle {
        position: absolute;
        border: 3px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 50%;
        z-index: 4;
        &:nth-child(1) {
            left: calc(671.75px - 405px);
            top: 139px;
            width: 536.23px;
            height: 545px;
        }
        &:nth-child(2) {
            left: calc(587.29px - 405px);
            top: 52px;
            width: 706.13px;
            height: 719px;
        }
        &:nth-child(3) {
            left: calc(505.78px - 405px);
            top: -31px;
            width: 869.16px;
            height: 885px;
        }
    }
    &_rectangle{
        position: absolute;
        border: 4px solid $maincolor4;
        &:nth-child(4) {
            border-width: 4px 0 0 4px;
            top: 232px;
            left: 95px;
            width: 260px;
            height: 104px;
        }
        &:nth-child(5) {
            border-width: 4px 4px 0 0;
            top: 232px;
            left: 755px;
            width: 218px;
            height: 104px;
        }
        &:nth-child(6) {
            border-width: 0 4px 4px 0;
            top: 491px;
            left: 734px;
            width: 239px;
            height: 112px;
        }
        &:nth-child(7) {
            border-width: 0 0 4px 4px;
            top: 491px;
            left: 95px;
            width: 267px;
            height: 112px;
        }
    }
    &_square {
        width: 26px;
        height: 26px;
        position: absolute;
        background-image: url(../img/square.png);
        z-index: 5;
        &:nth-child(8) {
            top: 221px;
            left: 355px;
        }
        &:nth-child(9) {
            top: 221px;
            left: 729px;
        }
        &:nth-child(10) {
            top: 336px;
            left: 84px;
        }
        &:nth-child(11) {
            top: 336px;
            left: 962px;
        }
        &:nth-child(12) {
            top: 466px;
            left: 84px;
        }
        &:nth-child(13) {
            top: 466px;
            left: 962px;
        }
        &:nth-child(14) {
            top: 592px;
            left: 365px;
        }
        &:nth-child(15) {
            top: 592px;
            left: 722px;
        }
    }
    &_circle-cntr {
        width: 63px;
        height: 63px;
        position: absolute;
        background-image: url(../img/center-circle.png);
        top: 380px;
        left: 503px;
    }
    &_title {
        @include title();
        padding-top: 74px;
        z-index: 4;
        position: relative;
    }
    &_text-top {
        @include scheme-text();
        width: 348px;
        height: 54px;
        top: 207px;
        left: 381px;
    }
    &_text-right {
        @include scheme-text();
        width: 288px;
        height: 54px;
        top: 371px;
        left: 825px;
    }
    &_text-btm {
        @include scheme-text();
        width: 230px;
        height: 81px;
        top: 564px;
        left: 439px;
        a {
            text-decoration: none;
            color: #1E5BAE;
        }
    }
    &_text-left {
        @include scheme-text();
        width: 202px;
        height: 81px;
        top: 371px;
        left: -3px;
    }
}

.services {
    width: 1920px;
    height: 806px;
    background: $mainlinear;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    color: $maincolor2;
    &_line {
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.05);
        &:nth-child(1) {
            height: 806px;
            left: 110px;
            top: 0;
         }
        &:nth-child(2) {
            height: 81px;
            left: calc(110px + 340px);
            top: 0;
        }
        &:nth-child(3) {
            height: 84px;
            left: calc(110px + 340px);
            bottom: 0;
        }
        &:nth-child(4) {
            height: 81px;
            left: calc(110px + 680px);
            top: 0;
        }
        &:nth-child(5) {
            height: 301px;
            left: calc(110px + 680px);
            bottom: 0;
        }
        &:nth-child(6) {
            height: 806px;
            left: calc(110px + 1020px);
            top: 0;
        }
        &:nth-child(7) {
            height: 806px;
            left: calc(110px + 1360px);
            top: 0;
        }
        &:nth-child(8) {
            height: 806px;
            left: calc(110px + 1700px);
            top: 0;
        }
    }
    &_title {
        @include title();
        padding-top: 103px;
    }
    &_list {
        margin-top: 61px;
        &-item {
            margin: 0 0 29px 51px;
            @include list();
            &:before {
                left: -39px;
                width: 26px;
            }
            &::after {
                left: -50px;
            }
        }
    }
    &_price {
        @include price();
        margin-top: 48px;
        position: relative;
        span {
            left: 106px;
            top: -24px;
            letter-spacing: 0;
        }
    }
    &_btn {
        @include btn();
        margin-top: 33px;
    }
    &_img {
        background-image: url(../img/antminer3.png);
        position: absolute;
        width: 528px;
        height: 373px;
        left: 561px;
        top: 197px;
        z-index: 2;
    }
    &_imgback {
        position: absolute;
        width: 528px;
        height: 373px;
        left: 582px;
        top: 218px;
        border: 1px solid $maincolor1;
        border-radius: 0px 75px 0px 91px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}

.payment {
    width: 1920px;
    height: 716px;
    background-color: $maincolor2;
    &_title {
        @include title();
        padding-top: 87px;
    }
    &_text {
        width: 812px;
        height: 93px;
        margin-top: 30px;
        font-family: 'ProximaNova-regular';
        font-size: 18px;
        line-height: 30px;
    }
    &_form {
        margin-top: 54px;
        display: flex;
        justify-content: space-between;
        &-item-text1 {
            @include payment-item();
            width: 143px;             
        }
        &-item-text2 {
            @include payment-item();
            width: 224px;            
        }
        &-item-text3 {
            @include payment-item();
            width: 137px;            
        }
        &-item-text4 {
            @include payment-item();
            width: 203px;            
        }
    }
    &_btn {
        @include btn();
        background: linear-gradient($maincolor4, $maincolor1);
        box-shadow: none;
        margin-top: 107px;
    }
}