.main {
    position: relative;
    margin: 20px auto 0;
    width: 0;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
.cell {
    width: 62px;
    height: 62px;
    border: 1px solid black;
}
.card-deck {
    width: 62px;
    height: 62px;

}