body {
    font-size: 18px;
    font-family: sans-serif;
    margin: 0;
}

em {
    margin-bottom: 25px;
}

p {
    text-align: justify;
    text-indent: 50px;
    margin: 15px;
}

caption {
    margin-bottom: 15px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 3px solid black;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    background-color: aquamarine;
}

.photo {
    display: block;
    float: right;
    width: 400px;
    height: 400px;
    margin: 20px;
}

.list__title {
    align-self: flex-start;
}

.urls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px;
}