.main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 4fr;
    grid-template-rows: 70px repeat(2, 2fr) 70px 70px 2fr 70px;
    grid-template-areas: 
        "logo logo logo about"
        "side article article article"
        "side article article article"
        "side flowers flowers flowers"
        "onerow onerow onerow onerow"
        "articlebot articlebot articlebot articlebot"
        "hills hills hills hills"
    ;
    .logo {
        grid-area: logo;
        width: 100%;
        height: 100%;
        justify-self: start;
        align-self: center;
        background: url(../img/header-img-PRO.png) 10% center no-repeat, black;
        background-size: 120px, auto;
    }
    .about {
        height: 100%;
        grid-area: about;
        display: grid;
        grid-template-columns: 33% 1fr 33%;
        align-self: center;
        background-color: black;
        color: white;
        padding: 20px;
        box-sizing: border-box;
        &__text {
            align-self: center;
        }
        &__scss {
            grid-column-start: 3;
            justify-self: end;
            text-decoration: none;
            color: white;
            align-self: center;
        }
    }
    .side {
        grid-area: side;
        overflow: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, minmax(25%, max-content));
        grid-template-areas: 
        "side1  ."
        "side1 side2"
        "side3 side2"
        "side3 side4"
        ". side4";
        &__lorem1 {
            grid-area: side1;
        }
        &__lorem2 {
            grid-area: side2;
        }
        &__lorem3 {
            grid-area: side3;
        }
        &__lorem4 {
            grid-area: side4;
        }
    }
    .article {
        grid-area: article;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 5fr 2fr 5fr;
        &__lorem{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:nth-child(1) {
                grid-column-start: 1;
                grid-column-end: 3;

            }
            &:nth-child(2) {
                grid-area: 2/2/2/4;
            }    
            &-img {
                width: 80px;
                height: 80px;
                border-radius: 50% 50%;
                margin: 0 15px;
            }
        }        
    }
    .flowers {
        grid-area: flowers;
        background-image: url(../img/3984185.jpg);
        background-size: contain;
    }
    .onerow {
        grid-area: onerow;
        overflow: auto;
        display: grid;
    }
    .articlebot {
        grid-area: articlebot;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .hills {
        grid-area: hills;
        background: url(../img/nature-landscape-background.jpg);
        background-position: center;
    }
}

@media (max-width:400px) {
    .main {
        grid-template-columns: 5fr 7fr;
        grid-template-rows: 40px 40px 2fr 70px 1fr 70px;
        grid-template-areas: 
            "logo logo"
            "about about"
            "side article"
            "side flowers"
            "articlebot articlebot"
            "hills hills"
        ;
        .logo {
            background: url(../img/header-img-PRO.png) center no-repeat, black;
            background-size: 80px, auto;
        }
        .side {
            grid-template-areas: 
            ". side1"
            "side2 side1"
            "side2 side3"
            "side4 side3"
            "side4 .";
        }
        .article {
            grid-template-columns: 1fr;
            grid-template-rows: 50% 50%;
            &__lorem {
                &:nth-child(1) {
                    grid-column-start: 1;
                    grid-column-end: 1;
                }
                &:nth-child(2) {
                    grid-area: 2/1/2/1;
                } 
            }

        }
        .onerow {
            display: none;
        }
        .articlebot {
            grid-template-columns: 1fr;
            grid-template-rows: 50% 50%;

        }
    }

}